// Colors
$black: #000;
$white: #fff;

$main: #ff6000;
$dark: #7e7e7e1c;

$grey-700: #484848;
$grey-600: #646464;
$grey-500: #9b9b9b;
$grey-400: #b0b0b0;

$red: #f90000;

// Font Weights
$weight-bold: 700;
$weight-semibold: 500;
$weight-default: 400;

$card-border-active: 1px solid #cdcdcd;
