// Colors
$black: #000;
$white: #fff;

$main: #ff6000;
$dark: #7e7e7e1c;
$dark-grey: #484848;
$light-grey: #9b9b9b;
$red: #f90000;

// Font Weights
$weight-bold: 700;
$weight-default: 400;

// Borders
$card-border: 1px solid #e5e5e5;
$card-border-active: 1px solid #cdcdcd;